.button-registry {
  cursor: pointer;
  background: #e9f2fb;
  border: none;
  padding: 0;
  // border-radius: 5px;
  
  &__link {
    display: block;
    padding: 3px 5px 3px 5px;
    color: black;
    &:hover {
      color: black;
    }
  }
}

.active {
  background-color: #b9c2cb;
}
